#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
#import getpass

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
mysql_domain = "relational.fit.cvut.cz"
mysql_user = "guest"
#mysql_password = getpass.getpass()
mysql_password = "relational"
mysql_db = "stats"

dbdata = [mysql_user, mysql_password, mysql_domain, mysql_db]
connection_url = 'mysql+pymysql://{}:{}@{}/{}'.format(*dbdata)
engine = create_engine(connection_url)
print("Connected to DB!")

Connected to DB!

4. Import the users table

In [4]:
sqlquery = """
SELECT * FROM users
"""
users = pd.read_sql_query(sqlquery, engine)
print(users.shape)
users.head()

(40325, 14)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [69]:
users[(users['userId']== -1)]  #Solo hay un -1, queremos eliminarlo al final ! no es persona!!!!

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None

#### 5. Rename Id column to userId

In [10]:
users = users.rename(columns={"Id":"userId"})
#display (users)
users['userId'].head()

0   -1
1    2
2    3
3    4
4    5
Name: userId, dtype: int64

#### 6. Import the posts table.

In [13]:
sqlquery_1 = """
SELECT * FROM posts
"""
posts = pd.read_sql_query(sqlquery_1, engine)
print(posts.shape)
posts.head()

(91976, 21)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [14]:
posts = posts.rename(columns={"Id":"postId", "OwnerUserId":"userId"})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [21]:
new_users = users[["userId","Reputation","Views","UpVotes","DownVotes"]] 
new_posts = posts[["postId","Score","userId","ViewCount","CommentCount"]]
new_users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [35]:
new_posts.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [43]:
# mergeada = new_users.merge(new_posts, how='left', on='userId')
# mergeada.head()

print(new_users.dtypes)
print(new_posts.dtypes)
#A ver, al imprimir el tipo de cada serie de cada uno de los dataframes, userId
# en la primera (new_users), es int64
# en la segunda (new_posts), tipo float

userId        int64
Reputation    int64
Views         int64
UpVotes       int64
DownVotes     int64
dtype: object
postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
dtype: object

In [59]:
mergeada = new_users.merge(new_posts, how='outer', on='userId')
mergeada.head()
#display(mergeada)
display(mergeada[1000:3000])

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
1000,71.0,1936.0,328.0,2317.0,1.0,6173.0,10.0,NaN,5.0
1001,71.0,1936.0,328.0,2317.0,1.0,7855.0,5.0,NaN,0.0
1002,71.0,1936.0,328.0,2317.0,1.0,7885.0,3.0,NaN,0.0
1003,71.0,1936.0,328.0,2317.0,1.0,8050.0,14.0,NaN,7.0
1004,71.0,1936.0,328.0,2317.0,1.0,9596.0,2.0,284.0,0.0
1005,71.0,1936.0,328.0,2317.0,1.0,10050.0,1.0,NaN,3.0
1006,71.0,1936.0,328.0,2317.0,1.0,10582.0,2.0,NaN,0.0
1007,71.0,1936.0,328.0,2317.0,1.0,10721.0,6.0,NaN,9.0
1008,71.0,1936.0,328.0,2317.0,1.0,11240.0,2.0,NaN,6.0
1009,71.0,1936.0,328.0,2317.0,1.0,15547.0,1.0,NaN,2.0
1010,71.0,1936.0,328.0,2317.0,1.0,15679.0,7.0,NaN,1.0
1011,71.0,1936.0,328.0,2317.0,1.0,15763.0,3.0,NaN,0.0
1012,71.0,1936.0,328.0,2317.0,1.0,17849.0,4.0,NaN,0.0
1013,71.0,1936.0,328.0,2317.0,1.0,19237.0,1.0,NaN,5.0
1014,71.0,1936.0,328.0,2317.0,1.0,22112.0,6.0,NaN,2.0
1015,71.0,1936.0,328.0,2317.0,1.0,22941.0,3.0,NaN,1.0
1016,71.0,1936.0,328.0,2317.0,1.0,25021.0,3.0,NaN,1.0
1017,71.0,1936.0,328.0,2317.0,1.0,25509.0,12.0,NaN,2.0
1018,71.0,1936.0,328.0,2317.0,1.0,26836.0,1.0,NaN,0.0
1019,71.0,1936.0,328.0,2317.0,1.0,27481.0,4.0,NaN,8.0
1020,71.0,1936.0,328.0,2317.0,1.0,27490.0,4.0,NaN,2.0
1021,72.0,800.0,77.0,58.0,0.0,116.0,12.0,NaN,4.0
1022,72.0,800.0,77.0,58.0,0.0,692.0,9.0,332.0,0.0
1023,72.0,800.0,77.0,58.0,0.0,9112.0,4.0,NaN,2.0
1024,72.0,800.0,77.0,58.0,0.0,19066.0,4.0,200.0,5.0
1025,72.0,800.0,77.0,58.0,0.0,19640.0,1.0,NaN,0.0
1026,72.0,800.0,77.0,58.0,0.0,22497.0,3.0,407.0,4.0
1027,72.0,800.0,77.0,58.0,0.0,22704.0,8.0,NaN,6.0
1028,72.0,800.0,77.0,58.0,0.0,23011.0,2.0,NaN,0.0
1029,72.0,800.0,77.0,58.0,0.0,24091.0,3.0,NaN,9.0
...,...,...,...,...,...,...,...,...,...
2970,199.0,1815.0,188.0,149.0,3.0,25415.0,6.0,2519.0,11.0
2971,199.0,1815.0,188.0,149.0,3.0,29081.0,2.0,NaN,4.0
2972,199.0,1815.0,188.0,149.0,3.0,35553.0,1.0,NaN,0.0
2973,199.0,1815.0,188.0,149.0,3.0,44760.0,3.0,NaN,3.0
2974,199.0,1815.0,188.0,149.0,3.0,45664.0,0.0,219.0,5.0
2975,199.0,1815.0,188.0,149.0,3.0,63664.0,13.0,NaN,0.0
2976,199.0,1815.0,188.0,149.0,3.0,67725.0,5.0,197.0,3.0
2977,199.0,1815.0,188.0,149.0,3.0,73310.0,2.0,52.0,3.0
2978,200.0,128.0,24.0,9.0,0.0,591.0,2.0,NaN,0.0
2979,200.0,128.0,24.0,9.0,0.0,20689.0,1.0,61.0,0.0
2980,202.0,101.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN
2981,203.0,101.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
2982,204.0,101.0,0.0,4.0,0.0,NaN,NaN,NaN,NaN
2983,206.0,101.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN
2984,207.0,101.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN
2985,210.0,337.0,47.0,32.0,1.0,394.0,0.0,NaN,0.0
2986,210.0,337.0,47.0,32.0,1.0,395.0,4.0,174.0,1.0
2987,210.0,337.0,47.0,32.0,1.0,400.0,10.0,NaN,3.0
2988,210.0,337.0,47.0,32.0,1.0,428.0,3.0,NaN,2.0
2989,210.0,337.0,47.0,32.0,1.0,492.0,10.0,534.0,3.0
2990,210.0,337.0,47.0,32.0,1.0,743.0,4.0,441.0,0.0
2991,210.0,337.0,47.0,32.0,1.0,801.0,2.0,NaN,2.0
2992,210.0,337.0,47.0,32.0,1.0,977.0,2.0,373.0,0.0
2993,210.0,337.0,47.0,32.0,1.0,1232.0,1.0,NaN,0.0
2994,210.0,337.0,47.0,32.0,1.0,9438.0,0.0,NaN,0.0
2995,210.0,337.0,47.0,32.0,1.0,10232.0,3.0,NaN,6.0
2996,211.0,586.0,11.0,0.0,0.0,248.0,4.0,NaN,0.0
2997,211.0,586.0,11.0,0.0,0.0,286.0,12.0,NaN,0.0
2998,211.0,586.0,11.0,0.0,0.0,291.0,7.0,NaN,0.0
2999,211.0,586.0,11.0,0.0,0.0,293.0,4.0,NaN,1.0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [80]:
posts.columns
#posts['userId'].isnull()
#posts[(posts['userId'].isnull())]
posts[(posts['userId'] == -1)]

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
2040,2175,7,NaN,2010-08-28 01:20:33,0,NaN,<p><strong>CrossValidated</strong> is for stat...,-1.0,2013-01-10 19:43:24,None,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
7898,8576,5,NaN,2011-03-21 17:40:28,0,NaN,None,-1.0,2011-03-21 17:40:28,None,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
7900,8578,5,NaN,2011-03-21 17:46:43,0,NaN,None,-1.0,2011-03-21 17:46:43,None,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
8259,8981,3,NaN,2011-03-30 19:23:14,0,NaN,"<p>""Statistics"" can refer variously to the (wi...",-1.0,2011-03-30 19:23:14,None,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
8260,8982,3,NaN,2011-03-30 19:23:14,0,NaN,This generic tag is only rarely suitable; use ...,-1.0,2011-03-30 19:23:14,None,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
9050,9857,3,NaN,2011-04-22 06:59:10,0,NaN,None,-1.0,2011-04-22 06:59:10,None,...,NaN,0,NaN,-1.0,2011-04-22 06:59:10,NaT,NaN,NaT,None,None
9051,9858,3,NaN,2011-04-22 06:59:10,0,NaN,Linear regression is a type of regression when...,-1.0,2011-04-22 09:24:38,None,...,NaN,0,NaN,2116.0,2011-04-22 09:24:38,NaT,NaN,NaT,None,None
9053,9860,5,NaN,2011-04-22 07:09:42,0,NaN,None,-1.0,2011-04-22 07:09:42,None,...,NaN,0,NaN,-1.0,2011-04-22 07:09:42,NaT,NaN,NaT,None,None
9302,10130,3,NaN,2011-04-29 00:18:02,0,NaN,None,-1.0,2011-04-29 00:18:02,None,...,NaN,0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None
9303,10131,3,NaN,2011-04-29 00:18:02,0,NaN,None,-1.0,2011-04-29 00:18:02,None,...,NaN,0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None
14025,15331,5,NaN,2011-09-08 14:55:01,0,NaN,<p>The term propensity-score comes from the li...,-1.0,2011-09-08 15:01:38,None,...,NaN,0,NaN,NaN,2011-09-08 15:01:38,NaT,NaN,NaT,None,user5644
14026,15332,4,NaN,2011-09-08 14:55:01,0,NaN,The probability of receiving a treatment given...,-1.0,2011-09-08 15:01:36,None,...,NaN,0,NaN,NaN,2011-09-08 15:01:36,NaT,NaN,NaT,None,user5644
14903,16296,5,NaN,2011-09-30 18:31:08,0,NaN,"<p><a href=""http://en.wikipedia.org/wiki/Struc...",-1.0,2014-04-09 14:52:13,None,...,NaN,0,NaN,7290.0,2014-04-09 14:52:13,NaT,NaN,NaT,None,None
14968,16366,5,NaN,2011-10-02 18:27:56,0,NaN,None,-1.0,2011-10-02 18:27:56,None,...,NaN,0,NaN,-1.0,2011-10-02 18:27:56,NaT,NaN,NaT,None,None
17686,19423,5,NaN,2011-12-06 09:43:26,0,NaN,None,-1.0,2011-12-06 09:43:26,None,...,NaN,0,NaN,-1.0,2011-12-06 09:43:26,NaT,NaN,NaT,None,None
18066,19848,5,NaN,2011-12-15 02:38:20,0,NaN,None,-1.0,2011-12-15 02:38:20,None,...,NaN,0,NaN,-1.0,2011-12-15 02:38:20,NaT,NaN,NaT,None,None
18432,20259,5,NaN,2011-12-27 05:00:38,0,NaN,"<p>In statistics, a number that expresses the ...",-1.0,2011-12-27 08:23:52,None,...,NaN,0,NaN,NaN,2011-12-27 08:23:52,NaT,NaN,NaT,None,user7997
18434,20261,5,NaN,2011-12-27 05:02:52,0,NaN,<p>Statistical classification is the problem o...,-1.0,2011-12-27 08:23:34,None,...,NaN,0,NaN,NaN,2011-12-27 08:23:34,NaT,NaN,NaT,None,user7997
18435,20262,4,NaN,2011-12-27 05:02:52,0,NaN,Statistical classification is the problem of i...,-1.0,2011-12-27 08:23:37,None,...,NaN,0,NaN,NaN,2011-12-27 08:23:37,NaT,NaN,NaT,None,user7997
18436,20263,5,NaN,2011-12-27 05:04:26,0,NaN,<p>A statistical model is a formalization of r...,-1.0,2011-12-27 08:23:40,None,...,NaN,0,NaN,NaN,2011-12-27 08:23:40,NaT,NaN,NaT,None,user7997
18437,20264,4,NaN,2011-12-27 05:04:26,0,NaN,A statistical model is a formalization of rela...,-1.0,2011-12-27 08:23:43,None,...,NaN,0,NaN,NaN,2011-12-27 08:23:43,NaT,NaN,NaT,None,user7997
18639,20485,5,NaN,2012-01-02 18:07:38,0,NaN,None,-1.0,2012-01-02 18:07:38,None,...,NaN,0,NaN,-1.0,2012-01-02 18:07:38,NaT,NaN,NaT,None,None
18641,20487,5,NaN,2012-01-02 18:08:36,0,NaN,None,-1.0,2012-01-02 18:08:36,None,...,NaN,0,NaN,-1.0,2012-01-02 18:08:36,NaT,NaN,NaT,None,None
18643,20489,5,NaN,2012-01-02 18:09:27,0,NaN,"<p>Structured data files in any format, collec...",-1.0,2012-01-02 18:17:13,None,...,NaN,0,NaN,NaN,2012-01-02 18:17:13,NaT,NaN,NaT,None,user7997
18644,20490,4,NaN,2012-01-02 18:09:27,0,NaN,"Structured data files in any format, collected...",-1.0,2012-01-02 18:17:10,None,...,NaN,0,NaN,NaN,2012-01-02 18:17:10,NaT,NaN,NaT,None,user7997
19514,21497,5,NaN,2012-01-22 15:04:34,0,NaN,None,-1.0,2012-01-22 15:04:34,None,...,NaN,0,NaN,-1.0,2012-01-22 15:04:34,NaT,NaN,NaT,None,None
19774,21795,5,NaN,2012-01-27 01:25:07,0,NaN,None,-1.0,2012-01-27 01:25:07,None,...,NaN,0,NaN,-1.0,2012-01-27 01:25:07,NaT,NaN,NaT,None,None
19823,21856,5,NaN,2012-01-28 09:37:15,0,NaN,None,-1.0,2012-01-28 09:37:15,None,...,NaN,0,NaN,-1.0,2012-01-28 09:37:15,NaT,NaN,NaT,None,None
19827,21860,5,NaN,2012-01-28 09:46:15,0,NaN,None,-1.0,2012-01-28 09:46:15,None,...,NaN,0,NaN,-1.0,2012-01-28 09:46:15,NaT,NaN,NaT,None,None
19828,21861,4,NaN,2012-01-28 09:46:15,0,NaN,None,-1.0,2012-01-28 09:46:15,None,...,NaN,0,NaN,-1.0,2012-01-28 09:46:15,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56665,69679,5,NaN,2013-09-10 15:55:36,0,NaN,"<p>Combinatorics is ""parent"" of probability in...",-1.0,2013-09-10 15:59:55,None,...,NaN,0,NaN,919.0,2013-09-10 15:59:55,NaT,NaN,NaT,None,None
57150,70264,7,NaN,2013-09-17 15:16:34,0,NaN,"<p>\n On Stack Exchange, we believe the cor...",-1.0,2013-09-17 15:16:34,None,...,NaN,0,NaN,8588.0,2013-09-17 15:16:34,NaT,NaN,NaT,None,None
57704,70907,5,NaN,2013-09-24 13:04:42,0,NaN,None,-1.0,2013-09-24 13:04:42,None,...,NaN,0,NaN,-1.0,2013-09-24 13:04:42,NaT,NaN,NaT,None,None
59108,72537,5,NaN,2013-10-11 11:26:16,0,NaN,None,-1.0,2013-10-11 11:26:16,None,...,NaN,0,NaN,-1.0,2013-10-11 11:26:16,NaT,NaN,NaT,None,None
59930,73481,5,NaN,2013-10-22 15:20:37,0,NaN,None,-1.0,2013-10-22 15:20:37,None,...,NaN,0,NaN,-1.0,2013-10-22 15:20:37,NaT,NaN,NaT,None,None
60222,73838,5,NaN,2013-10-26 19:31:28,0,NaN,None,-1.0,2013-10-26 19:31:28,None,...,NaN,0,NaN,-1.0,2013-10-26 19:31:28,NaT,NaN,NaT,None,None
60391,74030,5,NaN,2013-10-29 13:11:25,0,NaN,None,-1.0,2013-10-29 13:11:25,None,...,NaN,0,NaN,-1.0,2013-10-29 13:11:25,NaT,NaN,NaT,None,None
64459,79743,5,NaN,2013-12-15 17:41:42,0,NaN,None,-1.0,2013-12-15 17:41:42,None,...,NaN,0,NaN,-1.0,2013-12-15 17:41:42,NaT,NaN,NaT,None,None
65245,80660,5,NaN,2013-12-27 20:40:52,0,NaN,None,-1.0,2013-12-27 20:40:52,None,...,NaN,0,NaN,-1.0,2013-12-27 20:40:52,NaT,NaN,NaT,None,None
65253,80668,5,NaN,2013-12-27 21:31:41,0,NaN,None,-1.0,2013-12-27 21:31:41,None,...,NaN,0,NaN,-1.0,2013-12-27 21:31:41,NaT,NaN,NaT,None,None
65255,80670,5,NaN,2013-12-27 21:38:10,0,NaN,None,-1.0,2013-12-27 21:38:10,None,...,NaN,0,NaN,-1.0,2013-12-27 21:38:10,NaT,NaN,NaT,None,None
65339,80763,5,NaN,2013-12-29 01:56:12,0,NaN,None,-1.0,2013-12-29 01:56:12,None,...,NaN,0,NaN,-1.0,2013-12-29 01:56:12,NaT,NaN,NaT,None,None
65713,81195,5,NaN,2014-01-04 11:54:14,0,NaN,None,-1.0,2014-01-04 11:54:14,None,...,NaN,0,NaN,-1.0,2014-01-04 11:54:14,NaT,NaN,NaT,None,None
67581,83316,5,NaN,2014-01-25 13:12:36,0,NaN,None,-1.0,2014-01-25 13:12:36,None,...,NaN,0,NaN,-1.0,2014-01-25 13:12:36,NaT,NaN,NaT,None,None
70070,87155,5,NaN,2014-02-19 14:52:31,0,NaN,None,-1.0,2014-02-19 14:52:31,None,...,NaN,0,NaN,-1.0,2014-02-19 14:52:31,NaT,NaN,NaT,None,None
73050,90672,5,NaN,2014-03-20 07:01:12,0,NaN,None,-1.0,2014-03-20 07:01:12,None,...,NaN,0,NaN,-1.0,2014-03-20 07:01:12,NaT,NaN,NaT,None,None
73051,90673,4,NaN,2014-03-20 07:01:12,0,NaN,None,-1.0,2014-03-20 07:01:12,None,...,NaN,0,NaN,-1.0,2014-03-20 07:01:12,NaT,NaN,NaT,None,None
76109,94286,5,NaN,2014-04-18 18:44:43,0,NaN,None,-1.0,2014-04-18 18:44:43,None,...,NaN,0,NaN,-1.0,2014-04-18 18:44:43,NaT,NaN,NaT,None,None
79235,97864,5,NaN,2014-05-15 15:51:46,0,NaN,None,-1.0,2014-05-15 15:51:46,None,...,NaN,0,NaN,-1.0,2014-05-15 15:51:46,NaT,NaN,NaT,None,None
79394,99044,5,NaN,2014-05-17 07:42:10,0,NaN,None,-1.0,2014-05-17 07:42:10,None,...,NaN,0,NaN,-1.0,2014-05-17 07:42:10,NaT,NaN,NaT,None,None
79627,99290,5,NaN,2014-05-19 16:50:22,0,NaN,None,-1.0,2014-05-19 16:50:22,None,...,NaN,0,NaN,-1.0,2014-05-19 16:50:22,NaT,NaN,NaT,None,None
80447,100216,5,NaN,2014-05-27 16:32:27,0,NaN,None,-1.0,2014-05-27 16:32:27,None,...,NaN,0,NaN,-1.0,2014-05-27 16:32:27,NaT,NaN,NaT,None,None
81927,102937,5,NaN,2014-06-11 03:32:12,0,NaN,None,-1.0,2014-06-11 03:32:12,None,...,NaN,0,NaN,-1.0,2014-06-11 03:32:12,NaT,NaN,NaT,None,None
82029,103049,4,NaN,2014-06-11 20:58:32,0,NaN,"A ""memoryless"" discrete stochastic process.",-1.0,2014-06-11 22:19:45,None,...,NaN,0,NaN,919.0,2014-06-11 22:19:45,NaT,NaN,NaT,None,None
83563,104825,5,NaN,2014-06-26 07:05:25,0,NaN,None,-1.0,2014-06-26 07:05:25,None,...,NaN,0,NaN,-1.0,2014-06-26 07:05:25,NaT,NaN,NaT,None,None
85129,107658,5,NaN,2014-07-11 20:28:02,0,NaN,None,-1.0,2014-07-11 20:28:02,None,...,NaN,0,NaN,-1.0,2014-07-11 20:28:02,NaT,NaN,NaT,None,None
86681,109441,5,NaN,2014-07-26 11:24:59,0,NaN,None,-1.0,2014-07-26 11:24:59,None,...,NaN,0,NaN,-1.0,2014-07-26 11:24:59,NaT,NaN,NaT,None,None
88996,112068,5,NaN,2014-08-15 19:33:34,0,NaN,None,-1.0,2014-08-15 19:33:34,None,...,NaN,0,NaN,-1.0,2014-08-15 19:33:34,NaT,NaN,NaT,None,None
88998,112070,5,NaN,2014-08-15 19:34:31,0,NaN,None,-1.0,2014-08-15 19:34:31,None,...,NaN,0,NaN,-1.0,2014-08-15 19:34:31,NaT,NaN,NaT,None,None
89398,112517,5,NaN,2014-08-19 20:16:36,0,NaN,None,-1.0,2014-08-19 20:16:36,None,...,NaN,0,NaN,-1.0,2014-08-19 20:16:36,NaT,NaN,NaT,None,None

In [66]:
#NaN 
#print(mergeada["ViewCount"].value_counts())
print((set(mergeada["ViewCount"]))
mergeada.shape

SyntaxError: invalid syntax (<ipython-input-66-8a11fc083aaf>, line 4)

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.