# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [69]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [70]:
data_c = pd.read_csv('../data/customer_product_sales.csv')
df = data_c.copy()

In [71]:
df.head(5)

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [88]:
#Another way to do it:
df_trial = df.groupby(['CustomerID', "ProductName"])["Quantity"].apply(lambda x : x.sum())
df_trial

CustomerID  ProductName
33          Apricots - Dried                      1
            Assorted Desserts                     1
            Bandage - Flexible Neon               1
            Bar Mix - Pina Colada, 355 Ml         1
            Beans - Kidney, Canned                1
            Beef - Chuck, Boneless                1
            Beef - Prime Rib Aaa                  1
            Beer - Original Organic Lager         1
            Beer - Rickards Red                   1
            Black Currants                        1
            Blackberries                          1
            Bread - Italian Roll With Herbs       1
            Bread Foccacia Whole                  1
            Cake - Box Window 10x10x2.5           1
            Cassis                                1
            Cheese - Cottage Cheese               1
            Crab - Imitation Flakes               1
            Fondant - Icing                       1
            French Pastry - Mini Chocolate        1
            General Purpose Trigger               1
            Grapes - Red                          1
            Grouper - Fresh                       2
            Hersey Shakes                         1
            Ice Cream Bar - Drumstick             1
            Lamb - Pieces, Diced                  1
            Lettuce - Spring Mix                  2
            Mangoes                               1
            Muffin Batt - Choc Chk                1
            Onions - Vidalia                      1
            Pasta - Cheese / Spinach Bauletti     1
                                                 ..
98200       Onion Powder                         25
            Orange - Canned, Mandarin            25
            Pasta - Detalini, White, Fresh       25
            Puree - Passion Fruit                25
            Raspberries - Fresh                  25
            Rice - Long Grain                    25
            Rosemary - Dry                       25
            Rosemary - Primerba, Paste           50
            Rum - Coconut, Malibu                25
            Sage - Ground                        25
            Sausage - Liver                      25
            Sea Bass - Whole                     50
            Seedlings - Mix, Organic             25
            Sole - Dover, Whole, Fresh           25
            Soup - Campbells, Lentil             50
            Soup Campbells - Italian Wedding     25
            Soup Knorr Chili With Beans          25
            Soupfoamcont12oz 112con              25
            Spinach - Baby                       25
            Table Cloth 54x72 White              25
            Tea - English Breakfast              25
            Tilapia - Fillets                    25
            Tomatoes Tear Drop                   25
            Truffle Cups - Brown                 25
            Vaccum Bag 10x13                     25
            Vol Au Vents                         50
            Wasabi Powder                        25
            Wine - Fume Blanc Fetzer             25
            Wine - Hardys Bankside Shiraz        25
            Yogurt - French Vanilla              25
Name: Quantity, Length: 63628, dtype: int64

In [73]:
df = df.groupby(['CustomerID', "ProductName"]).agg('sum')["Quantity"].sort_values(ascending=False).reset_index()
df.head()

   CustomerID                       ProductName  Quantity
0       90069  Longos - Grilled Salmon With Bbq        92
1       80694              Yeast Dry - Fermipan        84
2       96524        Spice - Peppercorn Melange        75
3       95017              Coffee - Irish Cream        75
4       96615               Veal - Eye Of Round        75

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [74]:
# create a product by customer matrix
# rows : products
# columns: customers
# values: quantities by each product purchased by each customer

df_pivot = pd.pivot_table(df, values="Quantity", index="ProductName", columns="CustomerID", fill_value=0)
df_pivot.head(10)

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
Apricots - Halves,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,25,50,25,0,25,25
Apricots Fresh,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
Arizona - Green Tea,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,25,0,0,0,0
Artichokes - Jerusalem,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Assorted Desserts,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,25,0,0,25

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [75]:
# customer similarity matrix
# squareform pdist
# euclidian

distances = pd.DataFrame(1/(1 + squareform(pdist(df_pivot.T, 'euclidean'))), 
                         index=df_pivot.columns, columns=df_pivot.columns)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [96]:
#List of the 5 most similar customers
# customerID = 20

similarities = distances[33].sort_values(ascending=False)
top_5 = similarities[1:6]
print(top_5)

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

In [95]:
list_index = top_5.index.values.tolist()

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [78]:
# select the records from the list of similar customer IDs
df_reduce = df[df.index.isin(list_index)]

In [79]:
df_reduce

      CustomerID                  ProductName  Quantity
264        92525         Beef - Ground Medium        48
2503       97324                 Grapes - Red        25
3305       97093          Initation Crab Meat        25
3317       97093  Oil - Shortening,liqud, Fry        25
3535       96560                 Durian Fruit        25

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [92]:
#aggregate customer purchase records by product name
top_5["rank"]=(df.groupby(["ProductName"]).agg('sum')["Quantity"])

In [93]:
display(top_5)

CustomerID
264                                             0.0870467
3535                                            0.0870467
3317                                            0.0870467
2503                                            0.0859834
3305                                            0.0856379
rank    ProductName
Anchovy Paste - 56 G Tube         ...
Name: 33, dtype: object

In [ ]:
top_5["Quantity"].sort_values(ascending=False)

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [ ]:
# filtrar la lista de producos por los que no haya comprado el user elegido
# hacer una recomendación de los 5 más comprados de estos 

# merge: rank products df with customer product matrix   por   PRODUCT NAME
#

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.