# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [28]:
import pandas as pd
import re

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [29]:
df = pd.read_csv('../pokemon.csv')
pokemon = df.copy()
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [30]:
display(pokemon[:11])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [31]:
#pd.crosstab(df['Type 1'],df['Type 2'])
#lista que contenga los valores de los dos campos:
#lista 1, lista 2, valores unicos

type1 = df['Type 1'].unique()
type2 = df['Type 2'].unique()
pd.Series(list(set(type1).intersection(set(type2)))).values

array(['Psychic', 'Fairy', 'Grass', 'Flying', 'Rock', 'Water', 'Electric',
       'Poison', 'Normal', 'Ground', 'Fighting', 'Dragon', 'Steel', 'Bug',
       'Ghost', 'Ice', 'Fire', 'Dark'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [32]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [43]:
def deleteBeforeMega(name):
        if 'Mega' in name:
            name = 'Mega' + re.sub(r'.*Mega', '', name)
            return name
        else: return name
    
pokemon['Name'] = pokemon['Name'].apply(deleteBeforeMega)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [44]:
pokemon ['A/D Ratio'] = pokemon['Attack']/ pokemon['Defense']
pokemon ['A/D Ratio'].unique()

array([1.        , 0.98412698, 0.98795181, 0.81300813, 1.20930233,
       1.10344828, 1.07692308, 1.17117117, 1.33333333, 0.73846154,
       0.7875    , 0.83      , 0.85833333, 0.85714286, 0.36363636,
       0.9       , 1.16666667, 0.5       , 2.25      , 3.75      ,
       1.125     , 1.09090909, 1.06666667, 1.6       , 1.35      ,
       2.        , 1.38461538, 1.36363636, 1.23188406, 1.375     ,
       1.63636364, 0.88235294, 0.90909091, 0.90384615, 0.92537313,
       1.05747126, 1.425     , 1.26315789, 1.32467532, 0.9375    ,
       0.95890411, 1.025     , 1.01333333, 1.55555556, 1.28571429,
       1.14285714, 0.92857143, 0.94117647, 1.27272727, 1.1875    ,
       1.1       , 1.08333333, 2.2       , 1.05128205, 2.28571429,
       1.75      , 1.25      , 1.11111111, 0.76923077, 1.42857143,
       1.625     , 2.14285714, 1.8       , 1.61538462, 0.8       ,
       0.82608696, 0.92307692, 1.54545455, 0.68181818, 0.41666667,
       0.63157895, 1.18181818, 1.88888889, 1.57142857, 0.81818182,
       0.875     , 1.4       , 0.65      , 0.52777778, 0.8125    ,
       0.28125   , 1.04285714, 1.13043478, 0.6       , 0.71428571,
       1.11764706, 0.52631579, 0.72727273, 2.26415094, 1.32911392,
       0.73333333, 0.68421053, 0.75      , 0.89473684, 0.47826087,
       0.57142857, 1.11666667, 1.41538462, 0.69230769, 1.45614035,
       1.66666667, 1.29166667, 1.05263158, 0.18181818, 1.58227848,
       1.42201835, 1.0625    , 2.16666667, 0.4       , 0.48      ,
       0.88888889, 1.0952381 , 1.58823529, 1.69230769, 0.85      ,
       1.05882353, 1.42222222, 1.29230769, 1.41052632, 1.22222222,
       1.9       , 0.75384615, 0.775     , 0.82      , 1.015625  ,
       1.05      , 1.35294118, 0.66666667, 0.7       , 1.5       ,
       2.66666667, 0.89285714, 0.30769231, 0.47058824, 1.07142857,
       0.9047619 , 0.84210526, 0.625     , 0.86956522, 0.78571429,
       1.44444444, 0.59090909, 2.02380952, 0.56896552, 1.23076923,
       0.72222222, 0.64285714, 0.425     , 0.54347826, 1.26666667,
       1.3       , 0.04347826, 1.60869565, 1.72727273, 1.73333333,
       0.64705882, 1.85714286, 1.53225806, 1.7027027 , 2.02702703,
       0.76190476, 1.13333333, 0.65217391, 1.28      , 1.2       ,
       1.21818182, 1.09333333, 1.30769231, 1.46666667, 1.41666667,
       1.71428571, 1.21428571, 0.73170732, 1.14754098, 0.63636364,
       1.83333333, 0.96774194, 2.2173913 , 1.65116279, 0.33333333,
       0.68      , 0.84      , 0.61111111, 0.60869565, 1.17647059,
       1.32727273, 0.85454545, 0.81132075, 0.87951807, 4.5       ,
       3.        , 0.60714286, 2.22222222, 2.125     , 1.91666667,
       0.77777778, 0.84615385, 1.11627907, 1.06849315, 1.41176471,
       0.53246753, 0.83505155, 0.75949367, 1.76923077, 0.44444444,
       0.53846154, 0.81927711, 2.5       , 0.47916667, 0.75294118,
       0.99047619, 0.54545455, 0.95      , 1.6875    , 1.11538462,
       0.6875    , 1.03846154, 0.96666667, 0.83333333, 9.        ,
       0.4375    , 1.05555556, 1.04705882, 1.03809524, 1.31818182,
       1.46478873, 0.96226415, 0.97058824, 0.97727273, 0.6097561 ,
       1.91176471, 1.73469388, 1.51898734, 3.125     , 2.75      ,
       0.3559322 , 0.30952381, 0.64444444, 0.69411765, 0.75238095,
       0.72631579, 1.88      , 0.78431373, 1.90909091, 1.22058824,
       1.51515152, 1.47058824, 1.81818182, 1.44680851, 2.40384615,
       1.30952381, 1.28125   , 1.34042553, 1.3880597 , 0.27906977,
       0.76724138, 0.55555556, 0.85185185, 1.36842105, 1.47826087,
       1.64772727, 0.94915254, 1.525     , 1.63076923, 1.38888889,
       0.90789474, 1.24      , 1.22666667, 1.25714286, 1.84615385,
       1.8358209 , 1.41791045, 0.88372093, 0.76      , 1.92307692,
       1.73684211, 0.37931034, 0.74074074, 0.64935065, 0.60747664,
       0.57692308, 1.78571429, 0.8490566 , 1.45454545, 0.58333333,
       1.37333333, 0.78947368, 1.69090909, 1.89230769, 1.41025641,
       1.35135135, 1.76      , 1.10416667, 1.24193548, 1.4375    ,
       1.875     , 1.58730159, 1.04651163, 1.03636364, 0.69767442,
       0.47619048, 1.23529412, 1.47368421, 0.75714286, 1.2875    ,
       0.76271186, 1.12359551, 0.45      , 0.78823529, 2.05714286,
       1.82222222, 1.4625    , 2.54545455, 0.28571429, 1.28358209,
       0.76470588, 0.7826087 , 0.725     , 0.35294118, 0.34482759,
       0.75728155, 0.81203008, 2.48888889, 2.15384615, 0.80645161,
       1.15853659, 1.58333333, 0.57894737, 0.86666667, 0.88      ,
       1.38095238, 0.94      , 1.28333333, 0.54945055, 0.71755725,
       1.45      , 1.67142857, 1.63333333, 1.7       , 2.08333333,
       1.48      , 1.55      , 1.15789474, 1.66      , 1.64      ,
       0.61904762, 1.46969697, 0.97321429, 1.43333333, 1.64285714,
       1.61111111, 0.93846154, 0.82105263, 0.87704918, 1.01724138,
       0.95833333, 1.21153846, 0.94736842, 1.1627907 , 1.14084507,
       0.36666667, 1.04      , 0.86206897, 0.94444444, 0.97435897,
       0.95744681, 0.95588235, 1.35416667, 1.61290323, 1.32258065,
       1.58974359, 0.93023256, 1.01886792, 1.04545455, 0.7761194 ,
       0.91304348, 0.85483871, 0.82954545, 1.15151515, 1.05769231,
       1.15584416, 1.01680672, 1.18      , 1.06944444, 1.01754386,
       1.41509434, 0.87912088, 1.45833333, 1.44736842, 0.94285714,
       0.73770492, 0.69672131, 0.77868852, 0.81967213, 0.81176471,
       0.63586957, 1.37894737, 0.82644628, 0.91666667])

#### Identify the pokemon with the highest `A/D Ratio`.

In [45]:
#pokemon with highest A/D Ratio : DeoxysAttack Forme
hightest = pokemon.sort_values(['A/D Ratio'], ascending=False)
hightest.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.0,Psychic

#### Identify the pokemon with the lowest A/D Ratio.

In [46]:
# pokemon with lowest A/D Ratio : Shuckle
lowest = pokemon.sort_values(['A/D Ratio'], ascending=True)
lowest.head(1)
# highest.tail(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug Rock

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

pk1 = pokemon ['Type 1']
pk2 = pokemon['Type 2']
def Concat (p1,p2,f):
    if p1 != '' && p2 != '':
        f = p1.str.cat(p2, sep=' ')
        return f
    elif p1 != '':
        return p1
    else:
        return p2

In [47]:
pokemon = pokemon.fillna('')
pokemon['Combo Type'] = pokemon ['Type 1'].str.cat(pokemon['Type 2'], sep=' ')    
pokemon['Combo Type'].head(20)

0     Grass Poison
1     Grass Poison
2     Grass Poison
3     Grass Poison
4            Fire
5            Fire
6      Fire Flying
7      Fire Dragon
8      Fire Flying
9           Water
10          Water
11          Water
12          Water
13            Bug
14            Bug
15      Bug Flying
16      Bug Poison
17      Bug Poison
18      Bug Poison
19      Bug Poison
Name: Combo Type, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [48]:
pokemon.sort_values(['A/D Ratio'], ascending=False)["Combo Type"].head(5)

429      Psychic
347    Water Dark
19     Bug Poison
453         Rock
348    Water Dark
Name: Combo Type, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [49]:
top_5 = list(set(pokemon.sort_values("A/D Ratio", ascending = False)["Combo Type"].head()))
print(top_5)

['Rock ', 'Bug Poison', 'Water Dark', 'Psychic ']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [50]:
#pokemon.groupby('Combo Type').agg('mean').head(10)
display(pokemon.groupby("Combo Type").mean().loc[top_5])

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Bug Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Water Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196